body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #F5E1A4;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #F5E1A4;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #302325;
  font-size: 1.2rem;
}

.logo img {
  width: 150px;
  height: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #302325;
  font-weight: 500;
}

.btn-empezar {
  background-color: #BC162A;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
  flex-wrap: wrap;
}

.hero-texto {
  max-width: 500px;
}

.hero-texto h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #302325;
  margin-bottom: 20px;
}

.hero-texto p {
  font-size: 1.2rem;
  margin-bottom: 32px;
  color: #302325;
}

.btn-principal {
  padding: 12px 24px;
  background-color: #BC162A;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.hero-imagen img {
  width: 350px;
  max-width: 100%;
}
