body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f5e1a4;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f5e1a4;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #302325;
    font-size: 1.2rem;
  
  }
  
  .logo img {
    width: 150px;
    height: auto;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  
  .nav a {
    text-decoration: none;
    color: #302325;
    font-weight: 500;
  }
  
  .btn-empezar {
    background-color: #bc162a;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
  }
  
  